
 @import "bootstrap";
 @import "material_icons";

 .sidebar {
    height: calc(100vh - 54px); /* 54 pixel is the height of your .navbar */
}
.btn-icon{
  padding: 6px;
  display: inline-flex;
  vertical-align:middle;
}